
    <%- layout('./layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Restaurants</title>
    
    <div id="home-header">
        <h2>all restaurants</h2>
    
        <p>Know a restaurant not on the list?</p>
        <a href="/restaurants/new">ADD IT NOW</a>
    </div>
   

    <!-- complete section -->
    <div id="home-grid-sidebar">
        <!-- div for the section on the left -->
        <section id="side-bar">
            <p>SIDE BAR</p>
            <div id="category-side-bar">
                <h3>Categories</h3>
                <a href="#">Burgers</a>
                <a href="#">Pasta</a>
                <a href="#">Sandwiches</a>
                <a href="#">Pizza</a>
                <a href="#">Drinks</a>
                <a href="#">Asian</a>
            </div>

            <div id="prices-side-bar">
                <h3>Prices</h3>
                <a href="#">Burgers</a>
                <a href="#">Pasta</a>
                <a href="#">Sandwiches</a>
                <a href="#">Pizza</a>
                <a href="#">Drinks</a>
                <a href="#">Asian</a>
            </div>

            <div id="rating-side-bar">
                <h3>Ratings</h3>
                <a href="#">Burgers</a>
                <a href="#">Pasta</a>
                <a href="#">Sandwiches</a>
                <a href="#">Pizza</a>
                <a href="#">Drinks</a>
                <a href="#">Asian</a>
            </div>
           
         
        </section>
        <!-- div for the restaurant grid section -->
        <section id="restaurant-grid">
            <!-- iterating through each restaurant and giving it its own div  -->
            <% for (restaurant of allRestaurants) { %>
                <div class="restaurant-grid-element">
                    
                    <img src="<%= restaurant.img %>" alt="">
                    <a href="/restaurants/<%= restaurant._id %>" class="restaurant-name"><h3><%= restaurant.name %></h3></a>
                    <p><%= restaurant.dsc %></p>
                    <p><%= restaurant.country %></p>
                </div> 
            <% } %> 
        </section>


    </div>
   
   
    
