
    <%- layout('./layouts/boilerplate.ejs') %>

    <title>Restaurants</title>
    
    <h1>Home page</h1>
    <h2>all restaurants</h2>

    <p>Know a restaurant not on the list?</p>
    <a href="/restaurants/new">ADD IT NOW</a>
    <% for (restaurant of allRestaurants) { %>
        <a href="/restaurants/<%= restaurant._id %>"><h3><%= restaurant.name %></h3></a>
        <img src="<%= restaurant.img %>" alt="">
        <p><%= restaurant.dsc %></p>
        <p><%= restaurant.country %></p>
    <% } %> 
