
    <%- layout('./layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Restaurants</title>
    
    <div id="home-header">
        <h2>all restaurants</h2>
    
        <p>Know a restaurant not on the list?</p>
        <a href="/restaurants/new">ADD IT NOW</a>
    </div>
   

    <!-- complete section -->
    <div id="home-grid-sidebar">
        <!-- div for the section on the left -->
        <section id="side-bar">
            <p>SIDE BAR</p>
        </section>
        <!-- div for the restaurant grid section -->
        <section id="restaurant-grid">
            <!-- iterating through each restaurant and giving it its own div  -->
            <% for (restaurant of allRestaurants) { %>
                <div class="restaurant-grid-element">
                    
                    <img src="<%= restaurant.img %>" alt="">
                    <a href="/restaurants/<%= restaurant._id %>"><h3><%= restaurant.name %></h3></a>
                    <p><%= restaurant.dsc %></p>
                    <p><%= restaurant.country %></p>
                </div> 
            <% } %> 
        </section>


    </div>
   
   
    
