
    <%- layout('./layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/stars.css">
    <title>Restaurants</title>
    
    <div id="home-header">
        <h2>all restaurants</h2>
    
        <p>Know a restaurant not on the list?</p>
        <a href="/restaurants/new">ADD IT NOW</a>
    </div>
   

    <!-- complete section -->
    <div id="home-grid-sidebar">
        <!-- div for the section on the left -->
        <section id="side-bar">
            <div id="category-side-bar">
                <h3 class="side-bar-header">Categories</h3>
                <a href="#" class="side-bar-link"><i class="fa-solid fa-burger">&nbsp;&nbsp;</i>Burgers</a>
                <a href="#" class="side-bar-link"><i class="fa-solid fa-plate-wheat">&nbsp;&nbsp;</i>Pasta</a>
                <a href="#" class="side-bar-link"><i class="fa-solid fa-bread-slice">&nbsp;&nbsp;</i>Sandwiches</a>
                <a href="#" class="side-bar-link"><i class="fa-solid fa-pizza-slice">&nbsp;&nbsp;</i>Pizza</a>
                <a href="#" class="side-bar-link"><i class="fa-solid fa-whiskey-glass">&nbsp;&nbsp;</i>Drinks</a>
                <a href="#" class="side-bar-link"><i class="fa-solid fa-bowl-rice">&nbsp;&nbsp;</i>Asian</a>
            </div>

            <div id="prices-side-bar">
                <h3 class="side-bar-header">Prices</h3>
                
                <div class="side-bar-input">
                    <input type="radio" name="price" value="" id="option-one" class="side-bar-radio">
                    <label for="option-one">Under $50</label>
                    
                </div>
                
                <div class="side-bar-input">
                    <input type="radio" name="price" value="" id="option-two" class="side-bar-radio">
                    <label for="option-two">Under $100</label>
                    
                </div>

                <div class="side-bar-input">
                    <input type="radio" name="price" value="" id="option-three" class="side-bar-radio">
                    <label for="option-three">$50 to $100</label>
                    
                </div>
                

                <div class="side-bar-input">
                    <input type="radio" name="price" value="" id="option-four" class="side-bar-radio">
                    <label for="option-four">Over $100</label>
                    
                </div>
                


            </div>

            <div id="rating-side-bar">
                <h3 class="side-bar-header">Ratings</h3>
                <div class="rating-side-bar-stars">   
                    <p>Over&nbsp;</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <div class="rating-side-bar-stars">  
                    <p>Over&nbsp;</p> 
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>

                <div class="rating-side-bar-stars">  
                    <p>Over&nbsp;</p> 
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>

                <div class="rating-side-bar-stars">
                    <p>Over&nbsp;</p>   
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>

                <div class="rating-side-bar-stars">  
                    <p>Over&nbsp;</p> 
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            
            </div>
           
         
        </section>
        <!-- div for the restaurant grid section -->
        <section id="restaurant-grid">
            <!-- iterating through each restaurant and giving it its own div  -->
            <% for (restaurant of allRestaurants) { %>
                <div class="restaurant-grid-element">
                    
                    <img src="<%= restaurant.img %>" alt="">
                    <a href="/restaurants/<%= restaurant._id %>" class="restaurant-name"><h3><%= restaurant.name %></h3></a>
                    <p class="restaurant-dsc"><%= restaurant.dsc %></p>
                    <p class="restaurant-country"><i class="fa-solid fa-location-dot"></i>  <%= restaurant.country %></p>
                </div> 
            <% } %> 
        </section>


    </div>
   
   
    
