<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundRestaurant.name %></title>
</head>
<body>
   
    <h3><%= foundRestaurant.name %></h3>
    <img src="<%= foundRestaurant.img %>" alt="">
    <p><%= foundRestaurant.dsc %></p>
    <p><%= foundRestaurant.country %></p>
    <a href="/restaurants/<%= foundRestaurant._id %>/edit">EDIT</a>
    <a href="/restaurants">VIEW ALL RESTAURANTS</a>
</body>
</html>